vless://{{ bridge.uuid }}@{{ ansible_host }}:443/?encryption=none&type=tcp&sni={{ xray_sni_dest }}&fp=chrome&security=reality&alpn=h2&flow=xtls-rprx-vision&pbk={{ bridge.x25519_public }}&sid={{ bridge.short_id }}&packetEncoding=xudp#Bifrost-Bridge-VLESS-Vision
