{
  "log": {
    "loglevel": "warning"
  },
  "inbounds": [
    {
      "port": {{ xray_xhttp_port | default(8443) }},
      "protocol": "vless",
      "tag": "vless-xhttp",
      "settings": {
        "clients": [
          {
            "id": "{{ xray.uuid }}"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "xhttp",
        "security": "reality",
        "xhttpSettings": {
          "mode": "stream-up",
          "path": "/{{ xray.xhttp_path }}",
          "keepAliveInterval": 30,
          "extra": {
            "xPaddingBytes": "100-1000",
            "scMinPostsIntervalMs": "30-50",
            "scMaxEachPostBytes": "786432-1048576",
            "xmux": {
              "maxConcurrency": "16-32",
              "cMaxReuseTimes": "64-128",
              "hMaxRequestTimes": "600-900",
              "hMaxReusableSecs": "1800-3000"
            }
          }
        },
        "finalmaskSettings": {
          "type": "sudoku",
          "password": "{{ xray.finalmask_password }}"
        },
        "realitySettings": {
          "show": false,
          "dest": "{{ xray_reality_dest | default(xray_sni_dest + ':443') }}",
          "xver": 0,
          "serverNames": [
            "{{ xray_sni_dest }}"
          ],
          "privateKey": "{{ xray.x25519_private }}",
          "minClientVer": "",
          "maxClientVer": "",
          "maxTimeDiff": 60000,
          "shortIds": ["{{ xray.short_id }}"],
          "limitFallbackUpload": {
            "afterBytes": 14000,
            "bytesPerSec": 102400,
            "burstBytesPerSec": 10485760
          },
          "limitFallbackDownload": {
            "afterBytes": 14000,
            "bytesPerSec": 2097152,
            "burstBytesPerSec": 52428800
          }
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls", "quic"],
        "routeOnly": true
      }
    },
    {
      "port": {{ xray_grpc_port | default(2053) }},
      "protocol": "vless",
      "tag": "vless-grpc",
      "settings": {
        "clients": [
          {
            "id": "{{ xray.uuid_grpc }}"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "grpc",
        "security": "reality",
        "grpcSettings": {
          "serviceName": "{{ xray.grpc_service_name }}"
        },
        "finalmaskSettings": {
          "type": "sudoku",
          "password": "{{ xray.finalmask_password }}"
        },
        "realitySettings": {
          "show": false,
          "dest": "{{ xray_reality_dest | default(xray_sni_dest + ':443') }}",
          "xver": 0,
          "serverNames": [
            "{{ xray_sni_dest }}"
          ],
          "privateKey": "{{ xray.x25519_private }}",
          "minClientVer": "",
          "maxClientVer": "",
          "maxTimeDiff": 60000,
          "shortIds": ["{{ xray.short_id }}"],
          "limitFallbackUpload": {
            "afterBytes": 14000,
            "bytesPerSec": 102400,
            "burstBytesPerSec": 10485760
          },
          "limitFallbackDownload": {
            "afterBytes": 14000,
            "bytesPerSec": 2097152,
            "burstBytesPerSec": 52428800
          }
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls", "quic"],
        "routeOnly": true
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "direct",
      "settings": {
        "domainStrategy": "UseIPv4"
      }
    },
    {
      "protocol": "blackhole",
      "tag": "block"
    }
  ]
}
