short_id: "{{ xray.short_id }}"
uuid: "{{ xray.uuid }}"
uuid_grpc: "{{ xray.uuid_grpc }}"
x25519_private: "{{ xray.x25519_private }}"
x25519_public: "{{ xray.x25519_public }}"
xhttp_path: "{{ xray.xhttp_path }}"
grpc_service_name: "{{ xray.grpc_service_name }}"
finalmask_password: "{{ xray.finalmask_password }}"
