vless://{{ xray.uuid }}@{{ ansible_host }}:443/?encryption=none&type=tcp&sni=microsoft.com&fp=chrome&security=reality&alpn=h2&flow=xtls-rprx-vision&pbk={{ xray.x25519_public }}&packetEncoding=xudp#Bivrest