[Unit]
Description=XRay Service
Documentation=https://github.com/xtls

[Service]
Type=simple
Restart=on-failure
RestartSec=30
WorkingDirectory={{ xray_path }}
ExecStart={{ (xray_path, 'xray') | path_join }} run -c {{ (xray_path, 'config.json') | path_join }}

[Install]
WantedBy=multi-user.target
