server_private_key: "{{ awg.server_private_key }}"
server_public_key: "{{ awg.server_public_key }}"
client_private_key: "{{ awg.client_private_key }}"
client_public_key: "{{ awg.client_public_key }}"
jc: {{ awg.jc }}
jmin: {{ awg.jmin }}
jmax: {{ awg.jmax }}
s1: {{ awg.s1 }}
s2: {{ awg.s2 }}
h1: {{ awg.h1 }}
h2: {{ awg.h2 }}
h3: {{ awg.h3 }}
h4: {{ awg.h4 }}
