listen: :{{ hysteria2_port | default(443) }}

tls:
  cert: {{ (hysteria2_path, 'server.crt') | path_join }}
  key: {{ (hysteria2_path, 'server.key') | path_join }}

obfs:
  type: salamander
  salamander:
    password: {{ hy2.obfs_password }}

auth:
  type: password
  password: {{ hy2.auth_password }}

masquerade:
  type: file
  file:
    dir: /var/www/{{ webserver_domain }}

bandwidth:
  up: 1 gbps
  down: 1 gbps
