{
  "log": {
    "loglevel": "warning"
  },
  "inbounds": [
    {
      "listen": "0.0.0.0",
      "port": 443,
      "protocol": "vless",
      "tag": "vless-in",
      "settings": {
        "clients": [
          {
            "id": "{{ relay_xray.uuid }}",
            "comment": "exit: VLESS+XHTTP+REALITY"
          },
          {
            "id": "{{ relay_xray.uuid_hy2 }}",
            "comment": "exit: Hysteria2 QUIC"
          },
          {
            "id": "{{ relay_xray.uuid_awg }}",
            "comment": "exit: AmneziaWG tunnel"
          },
          {
            "id": "{{ relay_xray.uuid_grpc }}",
            "comment": "exit: VLESS+gRPC+REALITY"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "show": false,
          "dest": "127.0.0.1:4443",
          "serverNames": [
            "{{ relay_domain }}"
          ],
          "privateKey": "{{ relay_xray.x25519_private }}",
          "shortIds": [
            "{{ relay_xray.short_id }}"
          ]
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls", "quic"],
        "routeOnly": true
      }
    }
  ],
  "routing": {
  "domainStrategy": "IPIfNonMatch",
  "rules": [
      {
        "type": "field",
        "user": ["{{ relay_xray.uuid_hy2 }}"],
        "domain": ["geosite:category-ru-blocked"],
        "outboundTag": "hy2-socks"
      },
      {
        "type": "field",
        "user": ["{{ relay_xray.uuid_awg }}"],
        "domain": ["geosite:category-ru-blocked"],
        "outboundTag": "awg-exit"
      },
      {
        "type": "field",
        "user": ["{{ relay_xray.uuid }}"],
        "domain": ["geosite:category-ru-blocked"],
        "outboundTag": "xhttp-proxy"
      },
      {
        "type": "field",
        "user": ["{{ relay_xray.uuid_grpc }}"],
        "domain": ["geosite:category-ru-blocked"],
        "outboundTag": "grpc-proxy"
      },
      {
        "type": "field",
        "user": ["{{ relay_xray.uuid_hy2 }}"],
        "outboundTag": "hy2-socks"
      },
      {
        "type": "field",
        "user": ["{{ relay_xray.uuid_awg }}"],
        "outboundTag": "awg-exit"
      },
      {
        "type": "field",
        "user": ["{{ relay_xray.uuid }}"],
        "outboundTag": "xhttp-proxy"
      },
      {
        "type": "field",
        "user": ["{{ relay_xray.uuid_grpc }}"],
        "outboundTag": "grpc-proxy"
      },
      {
        "type": "field",
        "domain": ["regexp:\\.ru$", "regexp:\\.su$", "regexp:\\.рф$", "domain:vk.com", "domain:vk.me", "domain:userapi.com"],
        "outboundTag": "block"
      },
      {
        "type": "field",
        "ip": ["geoip:ru", "geoip:private"],
        "outboundTag": "block"
      }
    ]
  },
  "outbounds": [
    {
      "protocol": "vless",
      "tag": "xhttp-proxy",
      "settings": {
        "vnext": [
          {
            "address": "{{ relay_foreign_ip }}",
            "port": {{ relay_foreign_xhttp_port | default(8443) }},
            "users": [
              {
                "id": "{{ foreign_xray.uuid }}",
                "encryption": "none"
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "xhttp",
        "security": "reality",
        "xhttpSettings": {
          "mode": "stream-up",
          "path": "/{{ foreign_xray.xhttp_path }}",
          "extra": {
            "xPaddingBytes": "100-1000",
            "scMinPostsIntervalMs": "1-10",
            "scMaxEachPostBytes": "786432-1048576",
            "xmux": {
              "maxConcurrency": "16-32",
              "cMaxReuseTimes": "64-128",
              "hMaxRequestTimes": "600-900",
              "hMaxReusableSecs": "1800-3000"
            }
          }
        },
        "finalmaskSettings": {
          "type": "sudoku",
          "password": "{{ foreign_xray.finalmask_password }}"
        },
        "realitySettings": {
          "serverName": "{{ relay_foreign_sni }}",
          "fingerprint": "chrome",
          "publicKey": "{{ foreign_xray.x25519_public }}",
          "shortId": "{{ foreign_xray.short_id }}"
        }
      }
    },
    {
      "protocol": "vless",
      "tag": "grpc-proxy",
      "settings": {
        "vnext": [
          {
            "address": "{{ relay_foreign_ip }}",
            "port": {{ relay_foreign_grpc_port | default(2053) }},
            "users": [
              {
                "id": "{{ foreign_xray.uuid_grpc }}",
                "encryption": "none"
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "grpc",
        "security": "reality",
        "grpcSettings": {
          "serviceName": "{{ foreign_xray.grpc_service_name }}"
        },
        "finalmaskSettings": {
          "type": "sudoku",
          "password": "{{ foreign_xray.finalmask_password }}"
        },
        "realitySettings": {
          "serverName": "{{ relay_foreign_sni }}",
          "fingerprint": "chrome",
          "publicKey": "{{ foreign_xray.x25519_public }}",
          "shortId": "{{ foreign_xray.short_id }}"
        }
      }
    },
    {
      "protocol": "socks",
      "tag": "hy2-socks",
      "settings": {
        "servers": [
          {
            "address": "127.0.0.1",
            "port": {{ relay_hy2_socks_port | default(10800) }}
          }
        ]
      }
    },
    {
      "protocol": "freedom",
      "tag": "awg-exit",
      "settings": {
        "domainStrategy": "UseIPv4"
      },
      "streamSettings": {
        "sockopt": {
          "interface": "awg1"
        }
      }
    },
    {
      "protocol": "freedom",
      "tag": "direct",
      "settings": {
        "domainStrategy": "UseIPv4"
      }
    },
    {
      "protocol": "blackhole",
      "tag": "block"
    }
  ]
}
