short_id: "{{ relay_xray.short_id }}"
uuid: "{{ relay_xray.uuid }}"
uuid_hy2: "{{ relay_xray.uuid_hy2 }}"
uuid_awg: "{{ relay_xray.uuid_awg }}"
x25519_private: "{{ relay_xray.x25519_private }}"
x25519_public: "{{ relay_xray.x25519_public }}"
